Dependencies:
	
Tables: 
	ver: 1000
	label: Test Table
	desc: Tabulka pro testy

Fields:
	label:
		table: test
		label: Jméno
		desc: 
		required: true
		default:
		type: string
		length: 64
	value:
		table: test
		label: Hodnota
		desc: 
		required: false
		default:
		type: string
		length: 64
	state:
		table: test
		label: Stav
		type: bool
		desc: 
		required: true
		default: true
		length: 1